<div>
  <%= image_tag @user.get_profile_image(100, 100) %>
  <h3><%= @user.name %></h3>
  <h3><%= @user.introduction %></h3>
  <p><%= link_to "プロフィール編集", edit_user_path(@user.id) %></p>
</div>


<%= render 'books/list', books: @books %>